/* police de base */
@font-face {
  font-family  : "lato-medium";
  src          : url("./assets/Lato-Regular.woff") format("woff");
  font-display : swap;
}

/* couleurs */
:root {
  --atelier                 : #4d4b00;
  --blanc                   : #EEE;
  --coach                   : #4D3600;
  --main                    : #4D2A00;
  --mentor                  : #002D4D;
  --resilience              : #4D0000;
  --atelier-gradient        : linear-gradient(180deg, #D5CEA8 0%, #A3A275 15%, #4D4B00 100%);
  --coach-gradient          : linear-gradient(180deg, #EDD8A7 0%, #DEAF55 15%, #A96C18 100%);
  --main-gradient           : linear-gradient(180deg, #F0AE5F 0%, #FB9C28 15%, #D54209 100%);
  --mentor-gradient         : linear-gradient(180deg, #B3C3D2 0%, #6B96AF 15%, #376271 100%);
  --resilience-gradient     : linear-gradient(180deg, #e6b8b8 0%, #B57D7D 15%, #803c3c 100%);
  --atelier-nav-gradient    : linear-gradient(180deg, #D5CEA8 0%, #A3A275 75%, #A3A27500 100%);
  --coach-nav-gradient      : linear-gradient(180deg, #E9CD90 0%, #DFB159 75%, #DFB15900 100%);
  --main-nav-gradient       : linear-gradient(180deg, #F0AE5F 0%, #FB9C28 75%, #FB9C2800 100%);
  --mentor-nav-gradient     : linear-gradient(180deg, #B3C3D2 0%, #6B96AF 75%, #6B96AF00 100%);
  --resilience-nav-gradient : linear-gradient(180deg, #e6b8b8 0%, #B57D7D 75%, #B57D7D00 100%);
}

/* colors for titles and backgrounds */
.main-title { color : var(--main); }

.main-nav-background { background : var(--main-nav-gradient); }

.main-background { background : var(--main-gradient) no-repeat center; }

/* couleurs coaching */
.coach-title { color : var(--coach); }

.coach-nav-background { background : var(--coach-nav-gradient); }

.coach-background { background : var(--coach-gradient) no-repeat center; }

/* couleurs mentoring */
.mentor-title { color : var(--mentor); }

.mentor-nav-background { background : var(--mentor-nav-gradient); }

.mentor-background { background : var(--mentor-gradient) no-repeat center; }

/* couleurs resilience */
.resilience-title { color : var(--resilience); }

.resilience-nav-background { background : var(--resilience-nav-gradient); }

.resilience-background { background : var(--resilience-gradient) no-repeat center; }

/* couleurs ateliers */
.ateliers-title { color : var(--atelier); }

.atelier-nav-background { background : var(--atelier-nav-gradient); }

.atelier-background { background : var(--atelier-gradient) no-repeat center; }

/* typographie */
p, a, q, cite, label {
  color       : var(--blanc);
  display     : block;
  font-family : lato-medium, sans-serif;
  font-size   : 1.3rem;
  line-height : 1.6rem;
}

p, a, q, label { margin-bottom : 1.3rem; }

cite { margin-bottom : 2rem; }

.centre { text-align : center; }

/* entête */
h1 {
  color       : var(--blanc);
  font-family : lato-medium, Arial, sans-serif;
  font-size   : clamp(16px, 8vw, 24px);
  font-style  : normal;
  line-height : 1rem;
  z-index     : 4;
}

h2 {
  font-family : lato-medium, Arial, sans-serif;
  font-size   : 1.5rem;
  font-style  : normal;
  line-height : 2rem;
  margin      : 3rem 0 1rem;
}

/* styles pour les liens */
.texte-centre {
  align-items     : center;
  color           : var(--main);
  display         : grid;
  font-family     : lato-medium, Arial, sans-serif;
  font-size       : 1.5rem;
  justify-content : center;
  padding-bottom  : 25%;
  padding-top     : 25%;
  transition      : 0.3s;
}

.texte-centre:hover { color : var(--blanc); }

.lien {
  font-family     : lato-medium, Arial, sans-serif;
  text-decoration : underline;
  transition      : 0.3s;
}

.lien:hover { color : var(--main); }

.david { text-decoration : none; }

/* navigation */
.navbar {
  align-items     : stretch;
  display         : flex;
  flex-direction  : row;
  justify-content : space-between;
  margin          : 1rem 0 3rem;
  max-width       : 960px;
  width           : 90%;
}

.logo {
  cursor   : pointer;
  height   : auto;
  left     : 0;
  position : relative;
  width    : clamp(72px, 30vw, 104px);
  z-index  : 5;
}

/* check pour Chrome */
nav { will-change : transform; }

/* for mobile */
@media only screen and (max-width : 970px) {
  #hamburger {
    cursor   : pointer;
    height: 28px;
    z-index  : 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
  }

  #hamburger > div {
    background-color : var(--blanc);
    border-radius    : 2px;
    height           : 3px;
    width: 28px;
    transition: all 0.3s ease;
  }

  #hamburger.close div:nth-child(1) {
    transform: rotate(90deg) translate(14px, 0);
    width: 36px;
  }

  #hamburger.close div:nth-child(2) {
    opacity: 0;
    transform: rotate(-90deg);
    width: 36px;
  }

  #hamburger.close div:nth-child(3) {
    transform: translate(0, -11px);
    width: 36px;
  }

  #hamburger.close {
    transform: rotate(-225deg);
  }

  .h1-nav-container {
    align-items     : center;
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : space-between;
  }

  .nav-links {
    align-items     : center; /* aligns items to the bottom in column direction */
    background      : var(--main-gradient);
    display         : flex;
    flex-direction  : column;
    height          : 100vh;
    justify-content : center; /* aligns items to the right in column direction */
    position        : absolute;
    right           : 0;
    top             : 0;
    transform       : translateX(100%); /* moves the `.nav-links` off screen to the right. */
    transition      : transform 0.3s; /* for smooth transition */
    width           : 100vw; /* adjust this to tailor the width of your navigation panel */
    z-index         : 1;
  }

  .nav-links > ul > li > a {
    color           : var(--blanc);
    cursor          : pointer;
    display         : block;
    font-family     : lato-medium, sans-serif;
    font-size       : 1.5rem;
    font-style      : normal;
    line-height     : 1rem;
    margin          : 0;
    /* padding         : 0 0 0 2rem; */
    text-align      : center;
    text-decoration : none;
  }

  nav > ul { list-style : none; }

  nav > ul > li { padding-bottom : clamp(.25rem, 4vh, 10rem); }
}

/* navigation pour écrans de grande tailles */
@media only screen and (min-width : 971px) {
  .h1-nav-container {
    align-items     : end;
    display         : flex;
    flex-direction  : column;
    height          : 100%;
    justify-content : space-between;
    width           : 100%;
  }

  .navbar {
    align-items     : stretch;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    margin          : 1rem 0 3rem;
    max-width       : 960px;
    width           : 90%;
  }

  /* h1 { opacity: 0; } */
  #hamburger { display : none; }

  .hamburger-line { display : none; }

  #menu-toggle { flex : 1;}

  nav > ul {
    align-items     : center;
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
    list-style      : none;
    padding         : 0;
    position        : relative;
  }

  .nav-links {
    width: 100%;
    padding-left: 2rem;
  }

  nav > ul > li > a {
    color           : var(--blanc);
    cursor          : pointer;
    display         : block;
    font-family     : lato-medium, sans-serif;
    font-size       : 1.25rem;
    font-style      : normal;
    line-height     : 1rem;
    margin          : 0;
    /* padding         : 0 0 0 2rem; */
    text-decoration : none;
  }
}

.nav-links.hide {
  transform  : translateX(100%);
  transition : none;
}

.nav-links.slide-out {
  transform  : translateX(100%);
  transition : transform 0.3s;
}

.nav-links.slide-in {
  transform  : translateX(0);
  transition : transform 0.3s;
}

/* important: aucun checkbox apparaitra! */
input[type=checkbox] { display : none; }

/* bouton */
.btn-principal {
  background    : var(--main);
  border        : none;
  border-radius : 1.25rem;
  color         : var(--blanc);
  cursor        : pointer;
  font-family   : lato-medium, Arial, sans-serif;
  font-size     : 1rem;
  padding       : .5rem 2rem;
  transition    : 0.3s;
}

.btn-principal:hover { background : var(--blanc); color : var(--main) }

/* contact */
div.contact > p, a {
  align-items     : start;
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  line-height: 1rem;
}

div.contact {
  border: 1px solid #FFF5;
  padding: 1.5rem 1rem 1rem;
}


/* mise en page */
/* réinitialisation */
* {
  box-sizing : border-box;
  margin     : 0;
  padding    : 0;
}

img { display : block; }

/* element principal */
header {
  align-items    : center;
  display        : flex;
  flex-direction : column;
  padding        : 0;
  position       : fixed;
  width          : 100%;
  z-index        : 1;
}

body::before {
  content  : "";
  height   : 100%;
  left     : 0;
  position : fixed;
  top      : 0;
  width    : 100%;
  z-index  : -1;
}

body#main::before { background : var(--main-gradient) no-repeat center; }

body#atelier::before { background : var(--atelier-gradient) no-repeat center; }

body#coach::before { background : var(--coach-gradient) no-repeat center; }

body#mentor::before { background : var(--mentor-gradient) no-repeat center; }

body#resilience::before { background : var(--resilience-gradient) no-repeat center; }

/* manipulation du contenu */
main {
  max-width : 960px;
  width     : 90%;
}

.contenu-general {
  align-items        : center;
  display            : flex;
  flex-direction     : column;
  height             : 100vh;
  justify-content    : space-between;
  /* overflow           : scroll; */
  -ms-overflow-style : none; /* IE & Edge */
  padding-bottom     : env(safe-area-inset-bottom);
  padding-top        : 7rem;
  scrollbar-width    : none; /* Firefox */
}

.contenu-general::-webkit-scrollbar { display : none; }

.centrer {
  align-items     : flex-end;
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  justify-content : space-between;
}

.droite {
  align-items     : flex-end;
  display         : flex;
  flex-direction  : column;
  height          : 100%;
  justify-content : space-between;
}

.flex {
  display         : flex;
  flex-direction  : row;
  justify-content : center;
}

.inline { display : inline; }

.block { display : block; }

/* manipulation des images sur la page d'accueil */
.images {
  display               : grid;
  grid-template-columns : 1fr 1fr;
  grid-template-rows    : 1fr 1fr;
  margin-bottom         : 2rem;
}

.image-coaching, .image-mentoring, .image-resilience, .image-ateliers {
  cursor   : pointer;
  overflow : hidden;
  position : relative;
  z-index  : 0;
}

.image-ateliers::before, .image-resilience::before, .image-mentoring::before, .image-coaching::before {
  background-position : center;
  background-repeat   : no-repeat;
  background-size     : cover;
  bottom              : 0;
  content             : "";
  left                : 0;
  opacity             : 0.2;
  position            : absolute;
  right               : 0;
  top                 : 0;
  transition          : transform 0.3s ease-out;
  z-index             : -1;
}

.image-coaching::before { background-image : url("./assets/coaching.jpg"); }

.image-mentoring::before { background-image : url("./assets/mentoring.jpg");}

.image-resilience::before { background-image : url("./assets/resilience.jpg"); }

.image-ateliers::before { background-image : url("./assets/ateliers.jpg"); }

.image-coaching:hover::before,
.image-mentoring:hover::before,
.image-resilience:hover::before,
.image-ateliers:hover::before {
  transform : scale(1.1);
}

.additive {
  margin-top     : 3rem;
  mix-blend-mode : screen;
  rotate         : -5deg;
}

/* pieds de page */
footer {
  align-items     : center;
  color           : var(--blanc);
  display         : flex;
  flex-direction  : column;
  justify-content : center;
  margin-top      : 4rem;
  width           : 100%;
}

.icon-row {
  align-items     : center;
  display         : flex;
  flex-direction  : row;
  justify-content : center;
}

.icon-row > * { margin : 0 10px 1rem; }
